<div role="tabpanel" class="tab-pane" id="works">
  <div class="col-md-1"></div>
  <div class="col-md-1">
   <%= button_to "New Fix", fix_new_path, method: :get, class: "btn btn-success" %>
 </div>
 <div class="col-md-1">
   <%= button_to "Supplier´s Review", new_supplier_review_path, method: :get, class: "btn btn-success" %>
 </div>
 <div class="col-md-12">
   <table class="user-table" id="works">
    <tr>
      <th>Nr.</th>
      <th>Code</th>
      <th>Picture</th>
      <th>Localization</th>
      <th>Comment</th>
      <th>Guild</th>
      <th>Supplier</th>
      <th>Comment</th>
      <th>Check</th>
      <th>Edit</th>
    </tr>
    <% i=1 %>
    <% @fixes.each do |fix| %>
    <tr id="rows-data">
      <th><%= i %>
      </th>
      <td><%= fix.code %></td>
      <td><%= image_tag fix.picture.url(:medium) %></td>
      <td><%= fix.localization %></td>
      <td><%= fix.comment %></td>
      <td><%= fix.supplier.guild %></td>
      <td><%= fix.supplier.name %></td>
      <td><%= fix.comment %></td>
      <td><% if fix.check == false %>
        <%= button_to 'Pendent', fixes_check_path(@work,fix), remote:true, class: "btn btn-danger" %>
        <% else %>
        <%= button_to 'Done', fixes_check_path(@work,fix), remote:true, class: "btn btn-success" %>
        <% end %>
        <% i+=1 %>
      </td>
      <td><%= link_to (image_tag("edit.png", id: "user_icon")), "./#{fix.id}/edit" %></td>
    </tr>
    <% end %>
  </table>
