<%= form_for(@fix, url: fix_create_path) do |f| %>
<%= render "error" %>
<div id="edit" class="col-md-12">
  <h3>Add new fix</h3>
  <%= render "form", f: f %>
  <div class="col-md-4">
    <div class="actions">
      <%= f.submit "Create", class: "btn btn-primary" %><br>
    </div>
    <% end %>
    <%= link_to "Back", :back %>
  </div>
</div>
