<table class="user-table" id="works">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>ZIP code</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Client</th>
        <th>Client phone</th>
        <th>Client email</th>
    </tr>
    <tr id="rows-data">
        <td><%= @work.code %></td>
        <td><%= @work.name %></td>
        <td><%= @work.address %></td>
        <td><%= @work.zip_code %></td>
        <td><%= @work.city %></td>
        <td><%= @work.state %></td>
        <td><%= @work.country %></td>
        <td><%= @work.client %></td>
        <td><%= @work.client_phone %></td>
        <td><%= @work.client_email %></td>   
    </tr>
</table>
<%= link_to "Back", :back %>