 <div class="user-content">

  <!-- Nav tabs -->
  <div class="col-md-2"></div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#works" aria-controls="works" role="tab" data-toggle="tab">Works</a></li>
    <li role="presentation"><a href="#suppliers" aria-controls="suppliers" role="tab" data-toggle="tab">Suppliers</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="profile">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <%= image_tag(current_user.image, class: "profile_image")%>
        </div>
        <div class="col-md-5">
            <ul class="list-group">
              <li class="list-group-item"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span><%= current_user.name %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><%= current_user.email %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><%= current_user.address %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><%= current_user.zip_code %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= current_user.city %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><%= current_user.state %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><%= current_user.country %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><%= current_user.phone_number_1 %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><%= current_user.phone_number_2 %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span><%= current_user.fax_number %></li>
              <li class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span><%= current_user.web_page %></li>
          </ul>
      </div>
      <div class="col-md-2">
        <button type="button" id="edit_profile" class="btn btn-danger">Edit profile</button>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="works">
    <table class="user-table" id="works">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Address</th>
            <th>ZIP code</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Client</th>
            <th>Client phone</th>
            <th>Client email</th>
            <th>See details</th>
            <th>Edit</th>
        </tr>
        <% current_user.works.each do |work| %>
        <tr id="rows-data">
            <td><%= work.code %></td>
            <td><%= work.name %></td>
            <td><%= work.address %></td>
            <td><%= work.zip_code %></td>
            <td><%= work.city %></td>
            <td><%= work.state %></td>
            <td><%= work.country %></td>
            <td><%= work.client %></td>
            <td><%= work.client_phone %></td>
            <td><%= work.client_email %></td>
            <td><%= link_to(image_tag("details.png", id: "details_icon"), "/works/#{work.id}") %></td>
            <td><%= link_to(image_tag("details.png", id: "details_icon"), "/works/#{work.id}/edit") %></td>
        </tr>
        <% end %>

    </table>

</div>

<div role="tabpanel" class="tab-pane" id="suppliers">
    <table class="user-table" id="suppliers">
        <tr>
            <th>Name</th>
            <th>Guild</th>
            <th>Email</th>
            <th>Phone 1</th>
            <th>Phone 2</th>
            <th>Fax</th>
            <th>Address</th>
            <th>ZIP code</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>See details</th>
            <th>Edit</th>
        </tr>
        <% current_user.suppliers.each do |supplier| %>
        <tr id="rows-data">
            <td><%= supplier.name %></td>
            <td><%= supplier.guild %></td>
            <td><%= supplier.email %></td>
            <td><%= supplier.phone_number_1 %></td>
            <td><%= supplier.phone_number_2 %></td>
            <td><%= supplier.fax_number %></td>
            <td><%= supplier.address %></td>
            <td><%= supplier.zip_code %></td>
            <td><%= supplier.city %></td>
            <td><%= supplier.state %></td>
            <td><%= supplier.country %></td>
            <td><%= link_to(image_tag("details.png", id: "details_icon"), "/suppliers/#{supplier.id}") %></td>
            <td><%= link_to(image_tag("details.png", id: "details_icon"), "/suppliers/#{supplier.id}/edit") %></td>
        </tr>
        <% end %>

    </table>
</div> 
</div>




