  <!-- Navigator bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <%= link_to(image_tag("brickapp_logo.png", id: "logo_home"), home_path) %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#details" id="link-text" data-toggle="modal" data-target="#login-modal-sm">Log In</a></li>
        <li><a href="#details" id="link-text">What is BrickAPP?</a></li>
        <li><%= link_to("Contact", contact_path, id: "link-text") %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="link-text">Lenguge<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">English</a></li>
            <li><a href="#">Spanish</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <% flash.each do|key, msg| %>
  <%= content_tag :div, msg, id: key, class: "alert alert-warning"%>
  <% end %>
  <!-- Logo and buttons -->

  <div class="content-home">
    <div class="col-md-12">
      <%=image_tag("brickapp_logo.png", id: "logo")%>
    </div>

    <div id="buttons" class="col-md-12">
      <div class="col-md-5"></div>
      <div class="col-md-2"><button type="button" id="register" class="btn btn-default btn-lg home-btn" data-toggle="modal" data-target="#registration-modal-sm"><h3>Register</h3></button></div>
      <div class="col-md-5"></div>
    </div>

    <div class="col-md-12 subtitle">
      <h2>Easy managing for your construction company</h2>
    </div>
  </div>

  <!-- Modal Registration-->
  <div class="modal fade" id="registration-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Register</h4>
        </div>
        <div class="modal-body">
          <%= render "registration_form" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Login-->
  <div class="modal fade" id="login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Log in</h4>
        </div>
        <div class="modal-body">
          <%= render "login_form" %>
        </div>
      </div>
    </div>
  </div>

  <!--  Details -->
  <div id="details" class="container-fluid">
    <div class="col-md-4">
      <%=image_tag("easy.png", id: "icon")%>
      <h3>Easy and intuitive</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra tincidunt varius. Maecenas interdum dui ac ipsum interdum pellentesque nec in est. In hac habitasse platea dictumst. Proin sit amet rutrum quam, vitae pulvinar dui.</p>  
    </div>
    <div class="col-md-4">
      <%=image_tag("time.png", id: "icon")%>
      <h3>Save time</h3>
      <p>Cras molestie leo a massa tempor, vitae facilisis lectus suscipit. Nam vitae purus odio. Suspendisse molestie luctus justo, vitae efficitur eros rhoncus eu. Mauris fermentum, lacus sit amet pretium imperdiet, ipsum ex rhoncus dui, ac maximus tellus urna id ligula.</p>
    </div>
    <div class="col-md-4">
      <%=image_tag("money.png", id: "icon")%>
      <h3>Save money</h3>
      <p>Donec dictum libero hendrerit nulla mollis, non rhoncus magna accumsan. Donec sagittis ullamcorper arcu, eget elementum urna lacinia eu. Mauris facilisis pellentesque lacus. Cras pretium lacus auctor ante auctor, vel lacinia justo mollis.</p>
    </div>
  </div>
  
  <footer>
    <h6>BrickAPP SL</h6>
  </footer>
