<% if user_signed_in? %>
<nav class="nav-login navbar-default">
  <div class="container-fluid">
    <%= link_to(image_tag("brickapp_logo.png", id: "logo_home"), home_path) %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("My Dashboard", profile_path) %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: 'DELETE' %></li>
      <li><%= link_to("Contact", contact_path) %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lenguage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">English</a></li>
          <li><a href="#">Spanish</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> 

<% else %>  
<nav class="nav-guest navbar-default">
  <div class="container-fluid">
    <%= link_to(image_tag("brickapp_logo.png", id: "logo_home"), home_path) %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("Home", home_path) %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lenguge<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">English</a></li>
          <li><a href="#">Spanish</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<% end %>