  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :guild, autofocus: true, placeholder: "Guild", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.number_field :phone_number_1, autofocus: true, placeholder: "Phone number 1", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.number_field :phone_number_2, autofocus: true, placeholder: "Phone number 2", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :fax_number, autofocus: true, placeholder: "Fax number", class: "form-control" %>
      </div>
    </div><br>
  </div>

  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :web_page, autofocus: true, placeholder: "Web page", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :address, autofocus: true, placeholder: "Address", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :zip_code, autofocus: true, placeholder: "code", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :city, autofocus: true, placeholder: "City", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :state, autofocus: true, placeholder: "State", class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
      <div class="field">
        <%= f.text_field :country, autofocus: true, placeholder: "Country", class: "form-control" %>
      </div>
    </div><br>
  </div>