<div id="edit" class="col-md-12">
  <h3>Supplier details</h3>
  <div class="col-md-5">
    <ul class="list-group">
      <li class="list-group-item"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span><%= @supplier.name %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><%= @supplier.guild %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><%= @supplier.email %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><%= @supplier.phone_number_1 %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><%= @supplier.phone_number_2 %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span><%= @supplier.fax_number %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span><%= @supplier.web_page %></li>
    </div>
    <div class="col-md-5">
      <li class="list-group-item"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><%= @supplier.address %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><%= @supplier.zip_code %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= @supplier.city %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><%= @supplier.state %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><%= @supplier.country %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span><%= @user_val_avg %>/10</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><%= @budget_val_avg %>% of overcost</li>
    </div>
    <%= link_to 'Back', profile_path(tab: :suppliers) %>
  </ul>
</div>
</div>

<div class="chart">
  <canvas id="userValChart"></canvas>
</div>
<script type="text/javascript">
var ctx = document.getElementById("userValChart");
var userValChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: <%= @work_id_reviews %>,
    datasets: [{
      label: "Your valoration",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: <%= @user_valoration %>
    },
    {
      label: "Overcost",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "rgba(12,34,45,1)",
      borderColor: "rgba(12,34,45,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(12,34,45,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(12,34,45,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: <%= @overcosts %>
    }
    ]
  },
  options: { 
    responsive: true,  
    scales: {
      yAxes: [{
        ticks: {
          scaleOverride:true,
          beginAtZero:true,
          max:10,
        }
      }]
    }
  }

});
</script>

